*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 0 10px;
}

header div p {
    text-decoration: none;
    color: rgba(53, 28, 117, 1);
    font-weight: bold;
}

.container {
    
    margin: 5px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    
    
    
}
#main-text {
    font-weight: bold;
    font-size: 38px;
}

.button-list {
    flex-direction: column;
    display:flex;
}

.button-list .btn {
    width: 40%;
    text-align: left;
    font-size: large;
    margin:5px;
    padding: 5px;
}

.btn {
    background-color:rgba(53, 28, 117, 1);
    color: white;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgba(138, 107, 224, 1);
}

#start-btn {
    padding: 7px 10px;
    font-size: 16px;
}

.hide {
    display:none;
}
